/* Wszystkie guziki podstawowe */
.button {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 15;
}

/* Guzik do opuszczania spotkania przez użytkownika */
.leave-meeting-button {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
    -fx-pref-height: 26;
    -fx-pref-width: 88;
}

.leave-meeting-button:hover {
    -fx-background-color: #e53935;
}

/* Guzik do zamykania wysuwanego panelu Users */
.close-user-button {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-height: 26;
    -fx-pref-width: 88;
}

.close-user-button:hover {
    -fx-background-color: #3f5e9d;
}

/* Panel wysuwany Join */
.slideInPane {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

/* Label w panelu wysuwanym Join */
.label-JoinSlideInPane {
    -fx-alignment: center;
    -fx-font-size: 24;
    -fx-pref-height: 26;
    -fx-pref-width: 278;
    -fx-layout-x: 14;
    -fx-layout-y: 14;
    -fx-text-alignment: center;
}

/* Guzik do dołączania w panelu wysuwanym Join */
.joinButton {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-height: 26;
    -fx-pref-width: 88;
}

.joinButton:hover {
    -fx-background-color: #3f5e9d;
}

/* Guzik do anulowania w panelach wysuwanych*/
.cancelButton {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
    -fx-pref-height: 26;
    -fx-pref-width: 88;
}

.cancelButton:hover {
    -fx-background-color: #e53935;
}


/* Label z wiadomościami błędów lub komunikatami NIE TYLKO W joinSlideInPane */
.messageLabel-joinSlideInPane {
    -fx-text-fill: red;
    -fx-alignment: center;
    -fx-pref-height: 26;
    -fx-pref-width: 230;
}

/* Label w panelu użytkowników */
.label-UsersSlideInPane {
    -fx-alignment: center;
    -fx-font-size: 24;
    -fx-pref-height: 26;
    -fx-pref-width: 278;
    -fx-layout-x: 14;
    -fx-layout-y: 14;
    -fx-text-alignment: center;
}

/* VBox dla listy użytkowników w panelu */
.usersListVBox {
    -fx-spacing: 10.0;
    -fx-alignment: top-left;
    -fx-padding: 10;
    -fx-font-size: 13;
}

/* Guzik do usuwania ludzi z spotkania (widzoczny tylko dla właściciela) */
.remove-button {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
    -fx-pref-height: 5;
    -fx-font-size: 11.5;
}

.remove-button:hover {
    -fx-background-color: #e53935;
}

/* Guziki w main scene na górze sceny */
.mianScene-Top-button {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 15;
    -fx-pref-height: 26;
    -fx-pref-width: 88;
    -fx-effect: dropshadow(gaussian, #000000, 3, 0, 0, 0);
}

.mianScene-Top-button:hover {
    -fx-background-color: #3f5e9d;
}

/* Miejsce gdzie uzytkownik musi cos wpisac */
.wpis {
    -fx-background-color: transparent;
    -fx-border-color: #263F73;
    -fx-border-width: 0px 0px 2px 0px;
}

/* zdjecie w tle */
.background-image {
    -fx-opacity: 0.5; /* Zmniejszenie przezroczystosci */
}

/* Guzik logowania i rejestraci */
.loginAndSingUpBnt {
    -fx-background-color: #263F73;
    -fx-text-fill: #FFF;
    -fx-background-radius: 10px;
}

.loginAndSingUpBnt:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-text-fill: #263F73;
    -fx-border-color: #263F73;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}

/* Guzik w registrationScene */
.backBnt {
    -fx-background-color: transparent;
    -fx-pref-height: 27px;
    -fx-pref-width: 24px;
}

.backBnt:hover {
    -fx-background-color: #e53935;
}

/* Guzik w registartionScene */
.closeBnt {
    -fx-background-color: transparent;
    -fx-pref-height: 27px;
    -fx-pref-width: 24px;
}
.closeBnt:hover {
     -fx-background-color: #e53935;
 }

/* Guzik do wyświetlania użytkowników w akordeonie */
.usersButton {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-width: 60px;
    -fx-pref-height: 26px;
}

.usersButton:hover {
    -fx-background-color: #3f5e9d; /* Jaśniejszy odcień */
}

/* Guzik do wyświetlania wspólnych dat w akordeonie */
.commonDatesButton {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-width: 120px;
    -fx-pref-height: 26px;
}

.commonDatesButton:hover {
    -fx-background-color: #3f5e9d; /* Jaśniejszy odcień */
}

/* Guzik do wyświetlania daty w akordeonie */
.dateButton {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-width: 60px;
    -fx-pref-height: 26px;
}

.dateButton:hover {
    -fx-background-color: #3f5e9d; /* Jaśniejszy odcień */
}

/* Styl dla przycisku Delete tylko dla właściciela */
.deleteButton {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-pref-width: 26px;
    -fx-pref-height: 26px;
}

.deleteButton:hover {
    -fx-background-color: #e53935; /* Jaśniejszy odcień */
}

/* GUZIKI W COMMONDATESSCENE I DATESELECTIONSCENE*/

/* Styl dla przycisku Save Date */
.saveDateButton {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-pref-height: 26px;
    -fx-pref-width: 170px;
}

.saveDateButton:hover {
    -fx-background-color: #4CAF50;
}

/* Styl dla przycisku Back */
.backButton {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-height: 26px;
    -fx-pref-width: 170px;
}

.backButton:hover {
    -fx-background-color: #3f5e9d;
}

/* Styl dla przycisku Save Comment */
.saveCommentButton {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-pref-height: 26px;
    -fx-pref-width: 170px;
}

.saveCommentButton:hover {
    -fx-background-color: #4CAF50;
}

/* Styl dla przycisku Delete Selected */
.deleteDateButton {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
    -fx-pref-height: 26px;
    -fx-pref-width: 187px;
}

.deleteDateButton:hover {
    -fx-background-color: #e53935;
}

/* Styl dla przycisku Add Date Range */
.addDateButton {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-height: 26px;
    -fx-pref-width: 187px;
}

.addDateButton:hover {
    -fx-background-color: #3f5e9d;
}

/* Styl dla przycisku Save w Date Selection */
.saveButton-dateselection {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-height: 26px;
    -fx-pref-width: 191px;
}

.saveButton-dateselection:hover {
    -fx-background-color: #3f5e9d;
}

/* Styl dla przycisku Cancel w Date Selection */
.cancelButton-dateselection {
    -fx-background-color: #263F73;
    -fx-text-fill: white;
    -fx-pref-height: 26px;
    -fx-pref-width: 191px;
}

.cancelButton-dateselection:hover {
    -fx-background-color: #3f5e9d;
}
